@charset "UTF-8";

/*
Paleta de cores:
Tom de azul: #112359
Tom de preto: #1B1F26
Tom de rosa: #F2D1B3
Tom de marron: #8C5535
Tom de claro: #A69286
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #1B1F26;
    height: 100vh;
    width: 100dvw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 260px;
    height: 570px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.863);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #1B1F26 url(../imagens/img-tela-login.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    padding-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #1B1F26;
    border: 3px solid #1B1F26;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #ffa571f6;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    transform: translateY(-13px);
    border: none;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #8C5535;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #573421;
}

form > a.botao{
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #A69286;
    border: 1px solid #A69286;
    border-radius: 5px;
    cursor: pointer;
}

form > a.botao:hover{
    background-color: #665950;
    color: white;
}

form > a.botao > span{
    font-size: 0.8em;
}